[submodule "src/Migration/Vendor/Doctrine/DBAL"]
	path = src/Migration/Vendor/Doctrine/DBAL
	url = https://github.com/doctrine/dbal.git
[submodule "src/Migration/Vendor/Symfony/Component/ClassLoader"]
	path = src/Migration/Vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "src/Migration/Vendor/Symfony/Component/Config"]
	path = src/Migration/Vendor/Symfony/Component/Config
	url = https://github.com/symfony/Config.git
[submodule "src/Migration/Vendor/Symfony/Component/Yaml"]
	path = src/Migration/Vendor/Symfony/Component/Yaml
	url = https://github.com/symfony/Yaml.git
[submodule "src/Migration/Vendor/Symfony/Component/Console"]
	path = src/Migration/Vendor/Symfony/Component/Console
	url = https://github.com/symfony/Console.git
[submodule "src/Migration/Vendor/Symfony/Component/EventDispatcher"]
	path = src/Migration/Vendor/Symfony/Component/EventDispatcher
	url = https://github.com/symfony/EventDispatcher.git
[submodule "src/Migration/Vendor/Symfony/Component/Finder"]
	path = src/Migration/Vendor/Symfony/Component/Finder
	url = https://github.com/symfony/Finder.git
[submodule "src/Migration/Vendor/Symfony/Component/Locale"]
	path = src/Migration/Vendor/Symfony/Component/Locale
	url = https://github.com/symfony/Locale.git
[submodule "src/Migration/Vendor/Symfony/Component/Templating"]
	path = src/Migration/Vendor/Symfony/Component/Templating
	url = https://github.com/symfony/Templating.git



[submodule "manifests"]
	path = manifests
	url = git@github.com:icomefromthenet/PHPAnsiblePlaybooks.git
