<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnFailure="false" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite>
            <directory>src/Migration/Tests</directory>
            <exclude>
                <directory>src/Migration/Tests/Base</directory>
            </exclude>
        </testsuite>
  </testsuites>
    
   <php>
    <const name="DEMO_DATABASE_USER" value="root"/>
    <const name="DEMO_DATABASE_PASSWORD" value="vagrant"/>
    <const name="DEMO_DATABASE_SCHEMA" value="sakila"/>
    <const name="DEMO_DATABASE_PORT" value="3306"/>
    <const name="DEMO_DATABASE_HOST" value="localhost"/>
    <const name="DEMO_DATABASE_TYPE" value="pdo_mysql"/>
    </php> 
</phpunit>
